@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap');

:root {
  --color-primary: #1C3879;
  --color-secondary: #607EAA;
  --color-light-primary: #F9F5EB;
  --color-ligth-secondary: #EAE3D2;
}

body {
  height: 100vh;
  display: flex;
    flex-direction: column;
  justify-content: flex-start;
    align-items: center;
  background-color: var(--color-primary);
  font-family: 'Poppins', sans-serif;
}

.select-pet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  color: var(--color-light-primary);
    font-family: 'Fredoka One', cursive;
  font-size: 32px;
}

.subtitle {
  color: var(--color-light-primary);
  font-size: 20px;
}

.cards,
.attacks {
  display: flex;
  gap: 10px;
}

.pokemon-card {
width: 110px;
  height: 140px;
  background-color: var(--color-secondary);
  padding: 10px;
  box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-light-primary);
}
.pokemon-card:active {
  background-color: var(--color-ligth-secondary);
    color: var(--color-secondary)
  }

.pokemon-card img {
  width: 80px;
}

input {
  display: none;
}

input:checked+label {
  background-color: var(--color-ligth-secondary);
  color: var(--color-secondary);
}
#button-pet {
  width: 160px;
  height: 40px;
  border-radius: 20px;
  background: transparent;
  border: 1px solid var(--color-ligth-secondary);
  color: var(--color-light-primary);
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
}
#select-attack {
  flex-direction: column;
  align-items: center;
}
.button-attack {
  width: 100px;
    height: 40px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 20px;
  border-color: transparent;
  color: var(--color-light-primary);
  background-color: var(--color-secondary);
  font-family: 'Poppins', sans-serif;
}
.button-attack:hover {
  background-color: var(--color-ligth-secondary);
  color: var(--color-secondary);
}

#messages {
  width: 260px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-ligth-secondary);
  border-radius: 20px;
  box-sizing: border-box;
}

#restart {
  margin-bottom: 5px;
}

#button-restart {
  width: 100px;
  height: 26px;
  border: transparent;
  color: var(--color-secondary);
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: bold;
}
.attacks-counter {
  display: grid;
  grid-template-columns: 120px 120px;
  text-align: center;
  gap: 20px;
}

.attacks-player,
.attacks-enemy {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#player-lives,
#enemy-lives {
  margin: 10px 0 0 0;
  font-size: 30px;
  color: var(--color-light-primary);
}

#pet-player,
#pet-enemy {
  margin: 10px 0 0 0;
  font-size: 20px;
  color: var(--color-light-primary);
}

.attacks-player p,
.attacks-enemy p {
  margin: 0;
  font-size: 18px;
  color: var(--color-light-primary);
}

@media (max-width: 360px) {
  .cards {
    flex-direction: column;
  }

  .pokemon-card {
    height: 120px;
  }

  label>p {
    margin: 0;
    font-size: 14px;
  }

  .attacks {
    flex-direction: column;
    gap: 10px;
  }

  #pet-player,
  #pet-enemy {
    font-size: 16px;
  }

  .attacks-player p,
  .attacks-enemy p {
    margin: 5px 0 0 0;
    font-size: 14px;
  }
}